build/
*.suo
*.user
bin
Bin
obj
_ReSharper*
*.csproj.user
*.resharper.user
*.suo
*.cache
TestResult.xml
packages/
websrc/
.arch/

lib/System.Web.*.dll
[wW]eb.config
*.zip
.vs*/
*.nupkg
