
body {
    background-color: whitesmoke;
    font-family: Verdana;
    font-size: 11px;
}

.clear {
    clear: both;
    font-size: 0.1px;
    height: 0;
    line-height: 0;
    width: 0;
    margin: 0;
    padding: 0;
}

.repositoryContainer, #footer {
    /*width: 750px;*/
    width: 99%;
    margin: auto;
    overflow: hidden;
}

#footer {
    margin-top: 20px;
}

h1 {
    margin: 0;
    font-size: 22px;
    color: #000;
    display: block;
    width: auto;
    background-color: #eae4bd;
    padding: 7px;
    position: relative;
}

.latest-commit {
    color: #808080;
    font-size: smaller;
}

a.hash {
    text-decoration: none;
    color: blue;
}

a:hover.hash {
    text-decoration: underline;
    color: purple;
}

.hint {
    background-color: lightyellow;
    text-align: center;
}

#footer {
    text-align: center;
    font-size: smaller;
}

    #footer a {
        color: #5b5b5b;
    }


/* jqModal base Styling courtesy of;
	Brice Burgess <bhb@iceburg.net> */

/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
	the Window's z-index value will be set to 3000 by default (via jqModal.js). */

.jqmWindow {
    display: none;
    position: fixed;
    top: 17%;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    background-color: #EEE;
    color: #333;
    border: 10px solid #6495bc;
    border-top-width: 5px;
}

.jqmOverlay {
    background-color: #000;
}

/* Background iframe styling for IE6. Prevents ActiveX bleed-through (<select> form elements, etc.) */
* iframe.jqm {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: expression(this.parentNode.offsetWidth+'px');
    height: expression(this.parentNode.offsetHeight+'px');
}

/* Fixed posistioning emulation for IE6
	 Star selector used to hide definition from browsers other than IE6
	 For valid CSS, use a conditional include instead */
* html .jqmWindow {
    position: absolute;
    top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

    .jqmWindow div.title {
        background-color: #6495bc;
        width: 100%;
        padding: 3px;
        color: #fff;
        font-size: 13px;
    }

    .jqmWindow div.content {
        margin: 10px;
    }

        .jqmWindow div.content input {
            width: 500px;
        }

        .jqmWindow div.content .button {
            height: 26px;
            width: 180px !important;
        }

a.jqmClose {
    float: right;
    margin: 0 3px 2px 0;
}

.jqmClose img {
    border: 0;
    width: 15px;
    height: 15px;
}

.switchBar ul {
    list-style-type: none;
    margin-left: -40px;
}

    .switchBar ul li {
        float: left;
        background-color: #EAE4BD;
        padding: 5px 10px;
    }

        .switchBar ul li a {
            text-decoration: none;
            color: black;
            font-size: 13px;
        }

        .switchBar ul li:hover {
            background-color: #cbd6de;
        }

            .switchBar ul li:hover ul {
                list-style-type: none;
                position: absolute;
                display: block;
                overflow: auto;
                z-index: 4;
                margin-left: -40px;
            }

                .switchBar ul li:hover ul li {
                    float: none;
                    border: 1px dotted #777777;
                }

                    .switchBar ul li:hover ul li a {
                        text-decoration: none;
                        color: #6895B5;
                        font-weight: bold;
                        font-size: 13px;
                    }

                    .switchBar ul li:hover ul li:hover {
                        background-color: white;
                    }

        .switchBar ul li ul {
            display: none;
        }


.createRepository {
    float: right;
    font-size: 11px;
    color: #000;
    height: 10px;
    padding: 3px 5px 5px 20px;
    margin: 0 0 5px 5px;
    text-decoration: none;
    display: block;
    overflow: hidden;
    z-index: 99;
    background: #eae4bd url(images/add.png) no-repeat 2% 55%;
}

ul#repositories {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

    ul#repositories li {
        display: block;
        margin-left: 15px;
    }

    ul#repositories nobr {
        width: 100%;
        float: left;
        clear: both;
        margin: 5px 0 5px 5px;
        vertical-align: baseline;
        background: #fbfbfb;
    }

    ul#repositories li, ul#repositories span {
        float: left;
    }

        ul#repositories li span {
            float: right;
            padding-left: 15px;
            min-width: 100px;
        }

        ul#repositories li a {
            font-size: 13px;
            color: #404090;
            height: 15px;
            padding-left: 25px;
            text-decoration: none;
            display: block;
            overflow: hidden;
            background: #fbfbfb url(images/bullet.png) no-repeat 0 40%;
        }

            ul#repositories li a:hover {
                background-color: #fff;
            }

.commit {
    background-color: #ddf69f;
}

.branch {
    background-color: #ddf69f;
}


.repository {
    text-decoration: none;
}

.clone {
    min-width: 120px !important;
}

    .clone a {
        text-decoration: none;
        color: #000000;
    }

.blob-content {
    border: 1px solid silver;
    overflow: auto;
}
